* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

@font-face {
  font-family: Domaine;
  src: url(fonts/DomaineNarrow.woff2);
}
@font-face {
  font-family: Domaine-bold;
  src: url(fonts/DomaineDisplayBold.ttf);
}
.fade-in {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.splashScreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #e29a95;
  transition: 1s;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splashScreen p {
  font-size: 8vw;
  font-family: Domaine-bold;
  letter-spacing: -1px;
}

.pinkBorder {
  outline: 5px solid #e29a95;
  outline-offset: -5px;
}

.container {
  height: 102vh;
  width: 100%;
  background-image: url("img/homepage.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 60%;
  display: flex;
  flex-flow: column wrap;
}
.container .titleText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: auto;
  flex-direction: column;
  margin-top: 18vw;
}
.container .titleText h1 {
  font-size: 5vw;
  letter-spacing: -1px;
  font-weight: 400;
  font-family: Domaine;
}
.container .titleText p {
  font-size: 1.5vw;
  letter-spacing: 0.00938rem;
  font-weight: 400;
  font-family: Domaine;
  margin-top: 2vw;
}

.nav-fixed {
  position: fixed;
  transition: 0.4s;
}

.nav-scrolled {
  background-color: #fff;
  height: 3.7vw !important;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
}
.nav-scrolled .navLeft a,
.nav-scrolled .navRight a {
  color: #292929 !important;
}
.nav-scrolled .navRight .enquire {
  background-color: #e29a95;
  color: white;
}
.nav-scrolled .navCenter a {
  font-size: 1.2vw !important;
  line-height: 1.2vw !important;
}

.filter {
  filter: none !important;
}

.filter2 {
  filter: invert(60%) sepia(10%) saturate(6013%) hue-rotate(310deg) brightness(200%) contrast(115%) !important;
}

.navContainer {
  padding: 0 1em 0 0.5em;
  display: flex;
  flex-direction: row;
  height: 10vw;
  width: 100%;
}
.navContainer .hamburger {
  display: flex;
  align-items: center;
  margin: 1vw 2vw 0 2vw;
}
.navContainer img {
  max-height: 1.2vw;
  max-width: 1.6vw;
  font-weight: 100;
}
.navContainer #hamburger {
  z-index: 99;
  cursor: pointer;
  filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
}
.navContainer .navLeft,
.navContainer .navRight {
  display: flex;
  align-items: center;
  transition: 0.4s;
}
.navContainer .navLeft a,
.navContainer .navRight a {
  font-size: 0.5vw;
  color: #fff;
  text-decoration: none;
  line-height: 2;
  padding: 1.6vw 1vw 1vw 1vw;
  display: block;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: termina, sans-serif;
}
.navContainer .navLeft:hover {
  background-color: white;
}
.navContainer .navLeft:hover > a {
  color: pink !important;
}
.navContainer .hiddenSection {
  display: none;
  position: absolute;
  background-color: white;
  top: 10vw;
  left: 0;
  height: 20vw;
  width: 100%;
}
.navContainer .hiddenSection .hiddenSectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f7f8f8;
}
.navContainer .hiddenSection .hiddenSectionContainer .wrapper {
  display: flex;
  justify-content: center;
}
.navContainer .hide:hover .hiddenSection {
  transition: 0.7s;
  display: block;
}
.navContainer .navRight {
  margin-right: 5vw;
  width: 5vw;
}
.navContainer .navRight a {
  display: flex;
  position: absolute;
  color: white;
  justify-content: center;
  align-items: center;
}
.navContainer .navRight a p {
  display: inline;
}
.navContainer .navRight a img {
  display: inline;
  height: 28px;
  width: 28px;
  color: white;
}
.navContainer .navRight .enquire {
  border: 1px solid #e29a95;
}
.navContainer .navCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  line-height: 2vw;
}
.navContainer .navCenter a {
  color: #e29a95;
  text-decoration: none;
  font-size: 2.5vw;
  font-family: Domaine-bold;
}

.menuOpen {
  overflow: hidden;
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  transform: translateY(-1rem);
}

.hiddenMenu {
  position: absolute;
  transition: 0.4s;
  transition-timing-function: ease-in;
  top: 0;
  right: 0;
  background-color: #4b4f54;
  height: 100vh;
  width: 40%;
  z-index: 1;
  visibility: visible;
  opacity: 1;
}
.hiddenMenu .hiddenContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8vw;
  color: white;
}
.hiddenMenu .hiddenContainer span {
  display: flex;
  flex-direction: row;
  color: #9f9f9f;
}
.hiddenMenu .hiddenContainer span p {
  margin-top: 0.5vw;
  font-size: 1.25rem;
}
.hiddenMenu .hiddenContainer h1 {
  font-size: 3.25rem;
  padding-top: 1vw;
}
.hiddenMenu .hiddenContainer h4 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin-top: 0.5vw;
}
.hiddenMenu .closebtn {
  position: absolute;
  top: 2vw;
  right: 2vw;
  text-decoration: none;
  color: white;
  font-size: 1vw;
  font-family: Domaine;
}

.page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin: 50px 0;
}
.page1 .textwrap {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.page1 .textwrap h1 {
  font-size: 16px;
  font-family: "termina", sans-serif;
  font-size: 12px;
  color: #c1c2c4;
}
.page1 .textwrap .text {
  display: flex;
  align-items: center;
  font-family: "Domaine";
  color: #53575c;
  font-size: 3.25rem;
  line-height: 1.1481481481em;
  font-weight: 400;
  width: 480px;
  letter-spacing: 0;
}
.page1 .textwrap a {
  text-decoration: none;
  margin-top: 20px;
}
.page1 .textwrap a span {
  font-size: 10px;
  padding: 15px 25px;
  border: 1px solid #e29b95;
  font-family: "termina", sans-serif;
  color: #414141;
}
.page1 .textwrap a span:hover {
  background-color: #e29b95;
  color: #ffffff;
  transition-duration: 500ms;
}
.page1 .images {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.page1 .images img {
  opacity: 0;
}
.page1 .images .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page1 .images .right {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.page1 .images .right .righttop {
  display: flex;
}
.page1 .images .right .rightbottom {
  display: flex;
}

.containerSecond {
  height: 100vh;
  width: 100%;
  font-family: Domaine-bold;
  background-color: white;
  display: flex;
  justify-content: center;
}
.containerSecond .containerSecondLeft {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10vw;
}
.containerSecond .containerSecondLeft img {
  box-shadow: -20px 20px #e29a95;
  height: 80vh;
}
.containerSecond .containerSecondRight {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.containerSecond .containerSecondRight .paragraphSecond p {
  font-size: 1rem;
  font-weight: 300;
  font-family: Domaine;
  line-height: 1.9375rem;
  color: #53575c;
  letter-spacing: -0.00625rem;
  width: 40%;
  margin: 1.5vh 0 1.5vh 0;
}
.containerSecond .containerSecondRight .headerSecond {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.containerSecond .containerSecondRight .headerSecond h2 {
  font-size: 3.25rem;
  font-weight: 400;
  font-family: Domaine;
  line-height: 1.2;
  color: #53575c;
  letter-spacing: 0;
}
.containerSecond .containerSecondRight .details {
  width: 66%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-flow: column;
}
.containerSecond .containerSecondRight .details .discription a {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  font-family: termina, sans-serif;
  color: #53575c;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 10px 0 20px;
  border-top: 1px solid #c1c2c4;
}
.containerSecond .containerSecondRight .apartmentsButton a {
  text-decoration: none;
}
.containerSecond .containerSecondRight .btn1 {
  padding: 10px 50px;
  border: solid 1px #e29a95;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 20px;
  cursor: pointer;
}
.containerSecond .containerSecondRight .btn1:hover {
  background-color: #e29b95;
  color: #ffffff;
  transition-duration: 500ms;
}/*# sourceMappingURL=style.css.map */