* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Domaine;
    src: url(fonts/DomaineNarrow.woff2);
}
@font-face {
    font-family: Domaine-bold;
    src: url(fonts/DomaineDisplayBold.ttf);
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
        transform: translateY(10%);
	}
	100% {
		opacity: 1;
        transform: translateY(0%);
	}
}

.splashScreen {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #e29a95;
    transition: 1s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 8vw;
        font-family: Domaine-bold;
        letter-spacing: -1px;
    }
}
.pinkBorder {
    outline: 5px solid #e29a95;
    outline-offset: -5px;
}
.container {
    height: 100vh;
    width: 100%;
    background-image: url("img/homepage.jpg");
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 60%;
    display: flex;
    flex-flow: column wrap;

    .titleText {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 100%;
        height: auto;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 7.1875rem;
            letter-spacing: -1px;
            font-weight: 400;
            font-family: Domaine;
            
        }
        p {
            font-size: 1.5rem;
            letter-spacing: 0.00938rem;
            font-weight: 400;
            font-family: Domaine;
            margin-top: 2rem;
        }
    }
    .nav {
        padding: 0 1em 0 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 77.81px;
        width: 100%;
        position: fixed;
        a {
            color: white;
        }
    }
}

// .welcomeScreen {
//     height: 100vh;
//     width: 100%;
//     background-color: #e29a95;
//     font-family: Domaine;
//     color: white;
//     font-size: 5rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     animation: expand 0.8s ease forwards;
//     position: relative;
//     transition: all 0.8s ease;
// }
