* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Domaine;
    src: url(fonts/DomaineNarrow.otf);
  }
@font-face {
    font-family: Domaine-bold;
    src: url(fonts/DomaineDisplayBold.ttf);
}
.splashScreen {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #e29a95;
    transition: 1s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 8vw;
        font-family: Domaine-bold;
    }
}

.container {
    height: 100vh;
    width: 100%;
    font-family: Domaine;
    background-image: url("img/homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;

    .titleText {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 100%;
        height: 10vh;
        flex-direction: column;
        justify-content: space-evenly;
        h1 {
            font-size: 7vw;
            font-weight: 400;
            line-height: 1em;
            padding-bottom: 1em;
            letter-spacing: 5px;
        }
        p { 
            line-height: 1em;
            font-size: 2vw;
        }
    }
    .nav {
        padding: 0 1em 0 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 77.81px;
        width: 100%;
        a {
            color: white;
        }
    }
}
    
.containerSecond {
    height: 110vh;
    width: 100%;
    font-family: Domaine-bold;
    background-color: white;
    display: flex;
    position: relative;


    .imageSecond {
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 2rem;
        bottom: 7rem;
        box-shadow: -20px 20px #e29a95;
        

    }
    .headerSecond {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        right: 0rem;
        top: 6rem;
        font-size: 5vw;
        font-weight: 50;
        line-height: 1.2;
        font-family: Domaine;
        color: #53575c;
        letter-spacing: 0;

    }

    .paragraphSecond {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        bottom: 16rem;
        right: 7rem;
        font-size: 1.56vw;
        font-family: Domaine;
        color: #53575c;
    }

    .details {
        display: flex;
        width: 40%;
        height: 30vh;
        position: absolute;
        bottom: 1rem;
        right: 7rem;
        font-size: 1.56vw;
        font-family: Domaine;
        color: #53575c;
        justify-content: space-between;
        flex-flow: column;
        text-align: center;
        

        .discription {
            display: flex;
            justify-content: space-between;
            flex-flow: column;
            align-items: center;
            font-family: Domaine;
            color: #53575c;
            width: 100%;
            height: 10vh;

            .paragraphThird {
                display: flex;
                justify-content: flex-start;
                position: absolute;
                flex-flow: column;
                text-align: center;
                right: 30vw;

            }

            .paragraphFourth {
                display: flex;
                justify-content: flex-end;
                position: absolute;
                flex-flow: column;
                text-align: center;
                right: 10vw;

            }
            
        }
    }

}






// .welcomeScreen {
//     height: 100vh;
//     width: 100%;
//     background-color: #e29a95;
//     font-family: Domaine;
//     color: white;
//     font-size: 5rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     animation: expand 0.8s ease forwards;
//     position: relative;
//     transition: all 0.8s ease;
// }