* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Domaine;
  src: url(fonts/DomaineNarrow.woff2);
}
@font-face {
  font-family: Domaine-bold;
  src: url(fonts/DomaineDisplayBold.ttf);
}
.fade-in {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.splashScreen {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #e29a95;
  transition: 1s;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splashScreen p {
  font-size: 8vw;
  font-family: Domaine-bold;
  letter-spacing: -1px;
}

.pinkBorder {
  outline: 5px solid #e29a95;
  outline-offset: -5px;
}

.container {
  height: 100vh;
  width: 100%;
  background-image: url("img/homepage.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 60%;
  display: flex;
  flex-flow: column wrap;
}
.container .titleText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: auto;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .titleText h1 {
  font-size: 7.1875rem;
  letter-spacing: -1px;
  font-weight: 400;
  font-family: Domaine;
}
.container .titleText p {
  font-size: 1.5rem;
  letter-spacing: 0.00938rem;
  font-weight: 400;
  font-family: Domaine;
  margin-top: 2rem;
}
.container .nav {
  padding: 0 1em 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 77.81px;
  width: 100%;
  position: fixed;
}
.container .nav .hamburger-icon {
  width: 35px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.841);
  margin: 6px 0;
}
.container .nav a {
  color: white;
}

<<<<<<< HEAD
.page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin: 50px 0;
}
.page1 .textwrap {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.page1 .textwrap h1 {
  font-size: 16px;
  font-family: "termina", sans-serif;
  font-size: 12px;
  color: #c1c2c4;
}
.page1 .textwrap .text {
  display: flex;
  align-items: center;
  font-family: "Domaine";
  color: #53575c;
  font-size: 52px;
  width: 480px;
  letter-spacing: 0;
}
.page1 .textwrap a {
  text-decoration: none;
  margin-top: 20px;
}
.page1 .textwrap a span {
  font-size: 10px;
  padding: 15px 25px;
  border: 1px solid #e29b95;
  font-family: "termina", sans-serif;
  color: #414141;
}
.page1 .textwrap a span:hover {
  background-color: #e29b95;
  color: #FFFFFF;
  transition-duration: 500ms;
}
.page1 .images {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.page1 .images .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page1 .images .right {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.page1 .images .right .righttop {
  display: flex;
}
.page1 .images .right .rightbottom {
  display: flex;
=======
.containerSecond {
  height: 110vh;
  width: 100%;
  font-family: Domaine-bold;
  background-color: white;
  display: flex;
  position: relative;
}
.containerSecond .imageSecond {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 2rem;
  bottom: 7rem;
  box-shadow: -20px 20px #e29a95;
}
.containerSecond .headerSecond {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0rem;
  top: 6rem;
  font-size: 5vw;
  font-weight: 50;
  line-height: 1.2;
  font-family: Domaine;
  color: #53575c;
  letter-spacing: 0;
}
.containerSecond .paragraphSecond {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 16rem;
  right: 7rem;
  font-size: 1.56vw;
  font-family: Domaine;
  color: #53575c;
}
.containerSecond .details {
  display: flex;
  width: 40%;
  height: 30vh;
  position: absolute;
  bottom: 1rem;
  right: 7rem;
  font-size: 1.56vw;
  font-family: Domaine;
  color: #53575c;
  justify-content: space-between;
  flex-flow: column;
  text-align: center;
}
.containerSecond .details .discription {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: center;
  font-family: Domaine;
  color: #53575c;
  width: 100%;
  height: 10vh;
}
.containerSecond .details .discription .paragraphThird {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  flex-flow: column;
  text-align: center;
  right: 30vw;
}
.containerSecond .details .discription .paragraphFourth {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  flex-flow: column;
  text-align: center;
  right: 10vw;
>>>>>>> 7965a7c0fdce0fd36174525b3b7494be991e170a
}/*# sourceMappingURL=style.css.map */