* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Domaine;
    src: url(fonts/DomaineNarrow.woff2);
}
@font-face {
    font-family: Domaine-bold;
    src: url(fonts/DomaineDisplayBold.ttf);
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.splashScreen {
    position: fixed;
    // z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #e29a95;
    transition: 1s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 8vw;
        font-family: Domaine-bold;
        letter-spacing: -1px;
    }
}
.pinkBorder {
    outline: 5px solid #e29a95;
    outline-offset: -5px;
}
.container {
    height: 102vh;
    width: 100%;
    background-image: url("img/homepage.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 60%;
    display: flex;
    flex-flow: column wrap;

    .titleText {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 100%;
        height: auto;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 7.1875rem;
            letter-spacing: -1px;
            font-weight: 400;
            font-family: Domaine;
        }
        p {
            font-size: 1.5rem;
            letter-spacing: 0.00938rem;
            font-weight: 400;
            font-family: Domaine;
            margin-top: 2rem;
        }
    }
}
.nav-fixed { 
    position: fixed;
    transition: .4s;
}
.nav-scrolled {
    background-color: #fff;
    height: 5vw!important;
    z-index: 99;
    a {
        color: #292929;
    }
}
.navContainer {
    padding: 0 1em 0 0.5em;
    display: flex;
    flex-direction: row;
    height: 10vw;
    width: 100%;
    .hamburger {
        padding-top: 5vw;
        margin-left: 3.5vw;
        margin-right: 3vw;
    }
    .hamburger-icon {
        width: 35px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.841);
        margin: 6px 0 0 0;
    }

    .navLeft,  .navRight {
        display: flex;
        align-items: center;
        transition: .4s;
        a {
            font-size: 0.7rem;
            color: #fff;
            text-decoration: none;
            line-height: 1.2;
            padding: 75px 16px 44px 23px;
            display: block;
            letter-spacing: 0.07rem;
            text-transform: uppercase;
            font-weight: 500;
            font-family: termina, sans-serif;
        }
    }
    .navLeft:hover{
        background-color: white;
    }
    .navLeft:hover > a {
        color: pink!important;
    }

    .hidden {
        display: none;
        position: absolute;
        background-color: white;
        top: 10vw;
        left: 0;
        height: 20vw;
        width: 100%;
    } 
    .hide:hover .hidden {
        transition: .7s;
        display: block;
    }
    .navRight{ 
        margin-right: 5vw;
    }
    .navCenter {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding-right: 5vw;
        line-height: 1.7vw;
        a {
            color: #e29a95;
            text-decoration: none;
            font-size: 2vw;
            font-family: Domaine-bold;
        }
    }
}


// ------------------NIKI--------------------
.page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin: 50px 0;

    .textwrap {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        h1 {
            font-size: 16px;
            font-family: "termina", sans-serif;
            font-size: 12px;
            color: #c1c2c4;
        }

        .text {
            display: flex;
            align-items: center;
            font-family: "Domaine";
            color: #53575c;
            font-size: 3.25rem;
            line-height: 1.1481481481481481em;
            font-weight: 400;
            width: 480px;
            letter-spacing: 0;
        }

        a {
            text-decoration: none;
            margin-top: 20px;

            span {
                font-size: 10px;
                padding: 15px 25px;
                border: 1px solid #e29b95;
                font-family: "termina", sans-serif;
                color: #414141;
            }

            span:hover {
                background-color: #e29b95;
                color: #ffffff;
                transition-duration: 500ms;
            }
        }
    }

    .images {
        display: flex;
        column-gap: 50px;

        .left {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .right {
            display: flex;
            flex-direction: column;
            row-gap: 50px;

            .righttop {
                display: flex;
            }

            .rightbottom {
                display: flex;
            }
        }
    }
}

.containerSecond {
    height: 110vh;
    width: 100%;
    font-family: Domaine-bold;
    background-color: white;
    display: flex;
    position: relative;

    .imageSecond {
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 2rem;
        bottom: 7rem;
        left: 3rem;
        box-shadow: -20px 20px #e29a95;
    }
    .headerSecond {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        right: 1rem;
        top: 3rem;
        font-size: 4vw;
        font-weight: 50;
        line-height: 1.2;
        font-family: Domaine;
        color: #53575c;
        letter-spacing: 0;
    }

    .paragraphSecond {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        bottom: 18rem;
        right: 9rem;
        font-size: 1.56vw;
        font-family: Domaine;
        color: #53575c;
    }

    .details {
        display: flex;
        width: 40%;
        height: 20vh;
        position: absolute;
        bottom: 7rem;
        right: 9rem;
        font-size: 1.56vw;
        font-family: Domaine;
        color: #53575c;
        justify-content: flex-end;
        flex-flow: column;
        text-align: center;

        .discription {
            display: flex;
            justify-content: space-between;
            flex-flow: column;
            align-items: center;
            font-family: Domaine;
            font-size: 20px;
            color: #53575c;
            width: 100%;
            height: 8vh;
            border-top: #53575c solid 1px;
            padding-top: 10px;
            padding-bottom: 20px;



            .paragraphThird {
                display: flex;
                justify-content: flex-start;
                position: absolute;
                flex-flow: column;
                text-align: center;
                left: 0vw;
            }

            .paragraphFourth {
                display: flex;
                justify-content: flex-end;
                position: absolute;
                flex-flow: column;
                text-align: center;
                right: 2vw;
            }
        }
    }

    .btn1 {
        padding: 10px 50px;
        border: solid 1px #e29a95;
        width: 250px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 2rem;
        left: 39rem;
        background-color: white;
    }
}

// ------------------NIKI--------------------

// .welcomeScreen {
//     height: 100vh;
//     width: 100%;
//     background-color: #e29a95;
//     font-family: Domaine;
//     color: white;
//     font-size: 5rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     animation: expand 0.8s ease forwards;
//     position: relative;
//     transition: all 0.8s ease;
// }
